
@{
    ViewBag.Title = "Giris";
    Layout = "~/Views/Shared/_AdminGirisLayout.cshtml";
}

@if (ViewBag.Hata != null)
{
    <div class="alert alert-danger animate__animated animate__shakeX">
        @ViewBag.Hata
    </div>
}

<form method="post" class="animate__animated animate__fadeIn animate__delay-1s">

    <div class="mb-3">
        <label> <i class="fa fa-user"></i>Kullanıcı Adı</label>
        <input type="text" name="KullaniciAdi" class="form-control" required />
    </div>

    <div class="mb-3">
        <label><i class="fa fa-lock"></i>Şifre</label>
        <input type="password" name="Sifre" class="form-control" required />
    </div>

    <div class="d-grid">
        <button class="btn btn-login">
            <i class="fa fa-sign-in-alt"></i> Giriş Yap
        </button>
    </div>

</form>


