@model Mağaza_Ürün_Takip_Sistemi.Models.Entity.KATEGORILER
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    @Html.HiddenFor(X=>X.id, new {@class = "form-control"})   
    @Html.TextBoxFor(X=>X.ad, new {@class = "form-control"})
    <br />
    <button class="btn btn-warning">GÜNCELLE</button>
}



